Repository bounswe/bounswe2023group8, pull requests merged in 2023-12, with the labels that each got.

#546 Create new theme according to mockups
  app/web/public/assets/theme/icons/Access Level=Personal.png
  app/web/public/assets/theme/icons/Access Level=Private.png
  app/web/public/assets/theme/icons/Access Level=Public.png
  app/web/public/assets/theme/icons/CheckIcon.png
  app/web/public/assets/theme/icons/CreateBunchSelected=False.png
  app/web/public/assets/theme/icons/CreateBunchSelected=True.png
  app/web/public/assets/theme/icons/Downvote.png
  app/web/public/assets/theme/icons/ExploreSelected=False.png
  app/web/public/assets/theme/icons/ExploreSelected=True.png
  app/web/public/assets/theme/icons/FilterIcon.png
  app/web/public/assets/theme/icons/GeolocationIcon.png
  app/web/public/assets/theme/icons/HomeSelected=False.png
  app/web/public/assets/theme/icons/HomeSelected=True.png
  app/web/public/assets/theme/icons/NewFilter.png
  app/web/public/assets/theme/icons/NewNotificationNotSelected.png
  app/web/public/assets/theme/icons/NewNotificationSelected.png
  app/web/public/assets/theme/icons/NewSpotSelected=False.png
  app/web/public/assets/theme/icons/NewSpotSelected=True.png
  app/web/public/assets/theme/icons/NoNotificationNotSelected.png
  app/web/public/assets/theme/icons/NoNotificationSelected.png
  app/web/public/assets/theme/icons/ProfileSelected=False.png
  app/web/public/assets/theme/icons/ProfileSelected=True.png
  app/web/public/assets/theme/icons/SearchState=Active.png
  app/web/public/assets/theme/icons/SearchState=Passive.png
  app/web/public/assets/theme/icons/SettingsSelected=False.png
  app/web/public/assets/theme/icons/SettingsSelected=True.png
  app/web/public/assets/theme/icons/State=Hide.png
  app/web/public/assets/theme/icons/State=Show.png
  app/web/public/assets/theme/icons/TopIcon.png
  app/web/public/assets/theme/icons/Type=Add.png
  app/web/public/assets/theme/icons/Type=Close.png
  app/web/public/assets/theme/icons/Type=Create.png
  app/web/public/assets/theme/icons/Type=Delete.png
  app/web/public/assets/theme/icons/Upvote.png
  app/web/public/assets/theme/images/Bunch.png
  app/web/public/assets/theme/images/FactCheck.png
  app/web/public/assets/theme/images/FactCheck=False.png
  app/web/public/assets/theme/images/FactCheck=True.png
  app/web/public/assets/theme/images/Logo.png
  app/web/public/assets/theme/images/PlaceholderProfile.png
  app/web/src/index.css
Labels: in: frontend

#555 WA-530
  app/web/public/assets/theme/icons/EditIcon.png
  app/web/src/pages/InterestAreaViewPage/index.tsx
Labels: status: in progress, priority: low, effort: high, in: frontend

#565 WA-536
  app/web/src/components/InterestArea/InterestAreaCard.tsx
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
  app/web/src/components/shared/SpanWithOnClick/SpanWithOnClick.tsx
  app/web/src/pages/ProfilePage/index.tsx
Labels: in: frontend

#592 Backend - Restrict Posts by Age
  app/backend/enigma/src/main/java/com/wia/enigma/core/controller/api/v1/PostController.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/PostDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/PostDtoSimple.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/request/CreatePostRequest.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostServiceHelper.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/entity/Post.java
Labels: in: backend

#582 Updated spot card and home page
  app/mobile/assets/icons/sort_new.png
  app/mobile/assets/icons/sort_new.svg
  app/mobile/assets/icons/sort_top.png
  app/mobile/assets/icons/sort_top.svg
  app/mobile/ios/Podfile.lock
  app/mobile/ios/Runner.xcodeproj/project.pbxproj
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/constants/config.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/pubspec.lock
Labels: in: mobile

#594 Wa/mobile/fix/522 home page and spot card
  app/mobile/android/app/build.gradle
  app/mobile/android/app/src/debug/AndroidManifest.xml
  app/mobile/android/app/src/profile/AndroidManifest.xml
  app/mobile/assets/icons/edit.png
  app/mobile/assets/icons/geolocation.png
  app/mobile/assets/icons/notification.svg
  app/mobile/assets/icons/notifications.svg
  app/mobile/assets/icons/personal.png
  app/mobile/assets/icons/personal.svg
  app/mobile/assets/icons/private.png
  app/mobile/assets/icons/private.svg
  app/mobile/assets/icons/public.png
  app/mobile/assets/icons/public.svg
  app/mobile/assets/icons/sort_new.png
  app/mobile/assets/icons/sort_new.svg
  app/mobile/assets/icons/sort_top.png
  app/mobile/assets/icons/sort_top.svg
  app/mobile/ios/Podfile.lock
  app/mobile/ios/Runner.xcodeproj/project.pbxproj
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/constants/config.dart
  app/mobile/lib/data/models/interest_area.dart
  app/mobile/lib/data/widgets/post_detail_widget.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/editIA/controllers/edit_ia_controller.dart
  app/mobile/lib/modules/editIA/providers/edit_ia_provider.dart
  app/mobile/lib/modules/editIA/views/edit_ia_view.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/interestArea/views/member_ia.dart
  app/mobile/lib/modules/newIa/controllers/new_ia_controller.dart
  app/mobile/lib/modules/newIa/providers/new_ia_provider.dart
  app/mobile/lib/modules/newIa/views/new_ia_view.dart
  app/mobile/lib/modules/newPost/controllers/new_post_controller.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/lib/modules/newPost/views/select_location_view.dart
  app/mobile/lib/modules/post_details/bindings/post_details_binding.dart
  app/mobile/lib/modules/post_details/controllers/post_details_controller.dart
  app/mobile/lib/modules/post_details/providers/post_details_provider.dart
  app/mobile/lib/modules/post_details/views/location_view.dart
  app/mobile/lib/modules/post_details/views/post_details_view.dart
  app/mobile/lib/modules/profile/widgets/profile_header_widget.dart
  app/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  app/mobile/windows/flutter/generated_plugin_registrant.cc
  app/mobile/windows/flutter/generated_plugins.cmake
  app/web/.env.development
Labels: type: bugfix, in: mobile

#595 Revert "Merge pull request #594 from bounswe/WA/mobile/fix/522-home-p…
  app/mobile/android/app/build.gradle
  app/mobile/android/app/src/debug/AndroidManifest.xml
  app/mobile/android/app/src/profile/AndroidManifest.xml
  app/mobile/assets/icons/edit.png
  app/mobile/assets/icons/geolocation.png
  app/mobile/assets/icons/notification.svg
  app/mobile/assets/icons/notifications.svg
  app/mobile/assets/icons/personal.png
  app/mobile/assets/icons/personal.svg
  app/mobile/assets/icons/private.png
  app/mobile/assets/icons/private.svg
  app/mobile/assets/icons/public.png
  app/mobile/assets/icons/public.svg
  app/mobile/assets/icons/sort_new.png
  app/mobile/assets/icons/sort_new.svg
  app/mobile/assets/icons/sort_top.png
  app/mobile/assets/icons/sort_top.svg
  app/mobile/ios/Podfile.lock
  app/mobile/ios/Runner.xcodeproj/project.pbxproj
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/constants/config.dart
  app/mobile/lib/data/models/interest_area.dart
  app/mobile/lib/data/widgets/post_detail_widget.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/editIA/controllers/edit_ia_controller.dart
  app/mobile/lib/modules/editIA/providers/edit_ia_provider.dart
  app/mobile/lib/modules/editIA/views/edit_ia_view.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/interestArea/views/member_ia.dart
  app/mobile/lib/modules/newIa/controllers/new_ia_controller.dart
  app/mobile/lib/modules/newIa/providers/new_ia_provider.dart
  app/mobile/lib/modules/newIa/views/new_ia_view.dart
  app/mobile/lib/modules/newPost/controllers/new_post_controller.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/lib/modules/newPost/views/select_location_view.dart
  app/mobile/lib/modules/post_details/bindings/post_details_binding.dart
  app/mobile/lib/modules/post_details/controllers/post_details_controller.dart
  app/mobile/lib/modules/post_details/providers/post_details_provider.dart
  app/mobile/lib/modules/post_details/views/location_view.dart
  app/mobile/lib/modules/post_details/views/post_details_view.dart
  app/mobile/lib/modules/profile/widgets/profile_header_widget.dart
  app/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  app/mobile/windows/flutter/generated_plugin_registrant.cc
  app/mobile/windows/flutter/generated_plugins.cmake
  app/web/.env.development
Labels: type: bugfix

#596 Spot card fix
  app/mobile/assets/icons/notification.svg
  app/mobile/assets/icons/notifications.svg
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/post_widget.dart
Labels: type: bugfix, in: mobile

#605 Wa/mobile/fix/599 revise bunch member
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/interestArea/views/ia_view.dart
  app/mobile/lib/modules/interestArea/views/member_ia.dart
  app/mobile/lib/routes/app_pages.dart
Labels: in: mobile

#602 Spot Styling - Upvote/Downvote Spots
  app/web/src/components/Post/Create/PostCreateCard.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/components/Post/DetailedPostCardPreview.tsx
  app/web/src/components/Post/PostSmallPreview/PostPreviewCard.tsx
  app/web/src/contexts/AuthContext.tsx
  app/web/src/hooks/useSpotVotes.tsx
  app/web/src/pages/InterestAreaViewPage/index.tsx
  app/web/src/pages/PostCreatePage/index.tsx
  app/web/src/pages/PostUpdatePage/index.tsx
  app/web/src/pages/PostViewPage/index.tsx
  app/web/src/pages/ProfilePage/index.tsx
  app/web/src/pages/TimelineHomePage/index.tsx
Labels: in: frontend

#607 Explore page design is completed
  app/mobile/assets/images/logo.png
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/opening/views/opening_view.dart
  app/mobile/lib/modules/visitor_explore/controllers/visitor_explore_controller.dart
  app/mobile/lib/modules/visitor_explore/views/visitor_explore_view.dart
Labels: in: mobile

#608 Update to search page
  app/mobile/assets/images/profile-placeholder.png
  app/mobile/assets/images/profile_placeholder.png
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/bunch_widget.dart
  app/mobile/lib/data/widgets/profile_column.dart
  app/mobile/lib/modules/home/views/home_view.dart
Labels: in: mobile

#611 modified profile page according to figma
  app/mobile/lib/modules/profile/views/profile_view.dart
  app/mobile/lib/modules/profile/widgets/profile_header_widget.dart
Labels: status: done, effort: medium, in: mobile

#661 Backend - Basic Data of Private Interest Area Should Be Visible To Non-Following Users
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceHelper.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserFollowsService/UserFollowsService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserFollowsService/UserFollowsServiceImpl.java
Labels: in: backend

#662 Backend - Interest Area Follow Request Indicator
  app/backend/enigma/src/main/java/com/wia/enigma/core/controller/api/v1/EnigmaUserController.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserService/EnigmaUserService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserService/EnigmaUserServiceImpl.java
Labels: in: backend

#663 Backend - Interest Area/Post New Tag Suggestion APIs
  app/backend/enigma/src/main/java/com/wia/enigma/core/controller/api/v1/TagSuggestionController.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/ProfilePageDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/WikiTagDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/WikiTagSuggestionDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/request/TagSuggestionRequest.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceHelper.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostServiceHelper.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/TagSuggestion/TagSuggestionService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/TagSuggestion/TagSuggestionServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/WikiService/WikiService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/WikiService/WikiServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/entity/InterestArea.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/entity/TagSuggestion.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/repository/TagSuggestionRepository.java
Labels: in: backend

#667 Backend - Web Annotation Server Project
  app/backend/annotation/.env
  app/backend/annotation/.env.example
  app/backend/annotation/.gitignore
  app/backend/annotation/.mvn/wrapper/maven-wrapper.jar
  app/backend/annotation/.mvn/wrapper/maven-wrapper.properties
  app/backend/annotation/mvnw
  app/backend/annotation/mvnw.cmd
  app/backend/annotation/pom.xml
  app/backend/annotation/src/main/java/com/wia/annotation/AnnotationApplication.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/controller/AnnotationContainerController.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/controller/AnnotationController.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/dto/AnnotationDto.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/request/AnnotationServerBaseRequest.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/request/CreateAnnotationContainerRequest.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/request/CreateAnnotationRequest.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/response/AnnotationContainerResponse.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/response/AnnotationResponse.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/response/AnnotationServerBaseResponse.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/data/response/AnnotationServerErrorResponse.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/Exceptions.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/GlobalExceptionHandler.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerBadRequestException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerConflictException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerDatabaseException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerForbiddenException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerInternalException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerNotFoundException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/exceptions/custom/AnnotationServerUnauthorizedException.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/service/AnnotationContainerService.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/service/AnnotationContainerServiceImpl.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/service/AnnotationService.java
  app/backend/annotation/src/main/java/com/wia/annotation/core/service/AnnotationServiceImpl.java
  app/backend/annotation/src/main/java/com/wia/annotation/dal/entity/Annotation.java
  app/backend/annotation/src/main/java/com/wia/annotation/dal/entity/AnnotationContainer.java
  app/backend/annotation/src/main/java/com/wia/annotation/dal/repository/AnnotationContainerRepository.java
  app/backend/annotation/src/main/java/com/wia/annotation/dal/repository/AnnotationRepository.java
  app/backend/annotation/src/main/java/com/wia/annotation/utilities/StringUtils.java
  app/backend/annotation/src/main/resources/application.properties
  app/backend/annotation/src/test/java/com/wia/annotation/AnnotationApplicationTests.java
Labels: status: in review

#668 Wa/mobile/fix/610 revise widgets
  app/mobile/assets/icons/back.png
  app/mobile/assets/icons/create_spot.png
  app/mobile/assets/icons/delete.png
  app/mobile/assets/icons/downvote.png
  app/mobile/assets/icons/search.svg
  app/mobile/assets/icons/search_passive.svg
  app/mobile/assets/icons/upvote.png
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/custom_app_bar.dart
  app/mobile/lib/data/widgets/custom_search_bar.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/data/widgets/user_list_dialog.dart
  app/mobile/lib/modules/bottom_navigation/views/bottom_navigation_view.dart
  app/mobile/lib/modules/editIA/views/edit_ia_view.dart
  app/mobile/lib/modules/editPost/views/edit_post_view.dart
  app/mobile/lib/modules/home/controllers/home_controller.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/interestArea/views/ia_view.dart
  app/mobile/lib/modules/newIa/views/new_ia_view.dart
  app/mobile/lib/modules/newPost/controllers/new_post_controller.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/lib/modules/post_details/controllers/post_details_controller.dart
  app/mobile/lib/modules/post_details/views/post_detail_widget.dart
  app/mobile/lib/modules/post_details/views/post_details_view.dart
  app/mobile/lib/modules/profile/controllers/profile_controller.dart
  app/mobile/lib/modules/profile/views/profile_view.dart
  app/mobile/lib/modules/profile/widgets/followers_popup.dart
  app/mobile/lib/modules/profile/widgets/followings_popup.dart
  app/mobile/lib/modules/settings/views/change_password.dart
  app/mobile/lib/modules/settings/views/privacy_view.dart
  app/mobile/lib/modules/settings/views/settings_view.dart
  app/mobile/lib/modules/visitor_explore/views/visitor_explore_view.dart
  app/mobile/lib/modules/visitor_ia/views/visitor_ia.dart
  app/mobile/macos/Podfile.lock
  app/mobile/macos/Runner.xcodeproj/project.pbxproj
  app/mobile/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/mobile/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: in: mobile

#669 Wa/mobile/fix/666 revise opening and auth
  app/mobile/assets/images/sample_image1.png
  app/mobile/assets/images/sample_image2.png
  app/mobile/assets/images/sample_image3.png
  app/mobile/assets/images/sample_image4.png
  app/mobile/assets/images/sample_image5.png
  app/mobile/assets/images/sample_image6.png
  app/mobile/assets/images/sample_image7.png
  app/mobile/assets/images/sample_image8.png
  app/mobile/lib/modules/authentication/views/login_body.dart
  app/mobile/lib/modules/authentication/views/sign_up_body.dart
  app/mobile/lib/modules/authentication/views/verify_email_view.dart
  app/mobile/lib/modules/opening/views/opening_view.dart
  app/mobile/lib/modules/opening/widgets/opening_gallery.dart
Labels: in: mobile

#671 Backend - Add Vote Count to Profile Page
  app/backend/enigma/pom.xml
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/ProfilePageDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserService/EnigmaUserService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/UserService/EnigmaUserServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/repository/PostVoteRepository.java
Labels: in: backend

#673 Wa/mobile/fix/609 revise settings
  app/mobile/lib/data/widgets/custom_app_bar.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/settings/controllers/settings_controller.dart
  app/mobile/lib/modules/settings/views/change_password.dart
  app/mobile/lib/modules/settings/views/privacy_view.dart
  app/mobile/lib/modules/settings/views/settings_view.dart
Labels: in: mobile

#677 Backend - Add Owner's Id to Interest Area Dto
  app/backend/enigma/src/main/java/com/wia/enigma/core/controller/api/v1/InterestAreaController.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/InterestAreaDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/entity/InterestArea.java
Labels: in: backend

#678 Backend - Visitor Explore Page API
  app/backend/enigma/src/main/java/com/wia/enigma/configuration/security/FilterConfiguration.java
  app/backend/enigma/src/main/java/com/wia/enigma/configuration/security/JwtRequestFilter.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/controller/api/v1/PageController.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/ExplorePageDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/repository/InterestAreaRepository.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/repository/PostRepository.java
Labels: in: backend

#679 Fix Exisiting Enigma Tests For Signin, Signup and Logout
  .gitignore
  app/backend/enigma/src/main/java/com/wia/enigma/exceptions/GlobalExceptionHandler.java
  app/backend/enigma/src/test/java/com/wia/enigma/LogoutTests.java
  app/backend/enigma/src/test/java/com/wia/enigma/SigninTests.java
  app/backend/enigma/src/test/java/com/wia/enigma/SignupTests.java
Labels: in: backend, effort: medium

#681 Wa/mobile/feature/modify cerate and edit spot 625
  app/mobile/lib/modules/editPost/views/edit_post_view.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/pubspec.lock
Labels: type: improvement, status: done, priority: high, effort: high, in: mobile, review required!

#687 added date and adult content widgets
  app/mobile/lib/modules/editPost/views/edit_post_view.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
Labels: type: improvement, status: done, priority: high, effort: low, in: mobile

#680 Wa/web/feature/comments 580
  app/web/src/components/Comment/CommentCard.tsx
  app/web/src/components/Comment/CommentCreateCard.tsx
  app/web/src/components/Post/Create/PostCreateCard.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/components/Post/DetailedPostCardPreview.tsx
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
  app/web/src/contexts/AuthContext.tsx
  app/web/src/hooks/useComment.tsx
  app/web/src/hooks/usePost.tsx
  app/web/src/hooks/useProfile.tsx
  app/web/src/pages/InterestAreaViewPage/index.tsx
  app/web/src/pages/PostCreatePage/index.tsx
  app/web/src/pages/PostUpdatePage/index.tsx
  app/web/src/pages/PostViewPage/index.tsx
Labels: in: frontend

#683 added reputation badges to the profile page
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
  app/web/src/hooks/useProfile.tsx
  app/web/src/pages/ProfilePage/index.tsx
Labels: status: done, effort: low, in: frontend

#692 Hotfix
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
Labels: in: frontend

#696 Wa/mobile/fix/636 revise profile
  app/mobile/assets/icons/collapse.svg
  app/mobile/assets/icons/expand.svg
  app/mobile/assets/icons/new_pic.png
  app/mobile/assets/icons/report.png
  app/mobile/ios/Podfile.lock
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/custom_app_bar.dart
  app/mobile/lib/main.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/profile/controllers/profile_controller.dart
  app/mobile/lib/modules/profile/views/profile_view.dart
  app/mobile/pubspec.lock
Labels: in: mobile

#697 Wa/mobile/feature/visitor explore
  app/mobile/lib/modules/home/bindings/home_binding.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/visitor_explore/bindings/visitor_explore_binding.dart
  app/mobile/lib/modules/visitor_explore/controllers/visitor_explore_controller.dart
  app/mobile/lib/modules/visitor_explore/providers/explore_provider.dart
  app/mobile/lib/modules/visitor_explore/views/visitor_explore_view.dart
Labels: in: mobile

#704 fixed signup flow
  app/web/src/components/Register/RegisterModal.tsx
Labels: effort: low

#706 Check Moderation Ban Status
  app/backend/enigma/src/main/java/com/wia/enigma/core/data/dto/ProfilePageDto.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/InterestAreaService/InterestAreaServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/ModerationService.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/ModerationServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PageService/PageServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/core/service/PostService/PostServiceImpl.java
  app/backend/enigma/src/main/java/com/wia/enigma/dal/entity/InterestArea.java
Labels: in: backend

#707 Wa/mobile/fix/700 revise spot card
  app/mobile/assets/icons/downvote_empty.png
  app/mobile/assets/icons/upvote_empty.png
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/bunch_widget.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/home/controllers/home_controller.dart
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/controllers/ia_controller.dart
  app/mobile/lib/modules/interestArea/views/ia_view.dart
  app/mobile/lib/modules/profile/controllers/profile_controller.dart
  app/mobile/lib/modules/profile/views/profile_view.dart
  app/mobile/lib/modules/visitor_ia/views/visitor_ia.dart
Labels: in: mobile

#709 Implemented Suggest Tags function and fixed some minor issues I encountered meanwhile
  app/web/src/components/Geolocation/LocationPicker.tsx
  app/web/src/components/Layout/Topbar/Topbar.tsx
  app/web/src/components/Post/Create/PostCreateCard.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/components/Post/DetailedPostCardPreview.tsx
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
  app/web/src/components/SuggestTags/SuggestTagModal.tsx
  app/web/src/hooks/useSuggest.tsx
  app/web/src/pages/InterestAreaViewPage/index.tsx
  app/web/src/pages/ProfilePage/index.tsx
Labels: in: frontend

#710 hotfix
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/pages/InterestAreaViewPage/index.tsx
Labels: in: frontend

#720 Wa/mobile/fix/708 finalize bunch
  app/mobile/lib/modules/home/views/home_view.dart
  app/mobile/lib/modules/interestArea/views/ia_view.dart
  app/mobile/lib/modules/profile/views/profile_view.dart
Labels: in: mobile

#725 WA-722
  app/web/src/components/Layout/Sidebar/Sidebar.tsx
  app/web/src/pages/App/Router.tsx
  app/web/src/pages/SettingsPage/index.tsx
Labels: effort: high, in: frontend

#729 Check Suggestion Notification and minor fixes
  app/web/src/components/Layout/Topbar/Topbar.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/components/SuggestTags/SuggestionCardSmall.tsx
  app/web/src/components/SuggestTags/ViewSuggestionsModal.tsx
  app/web/src/components/Tag/Tag.tsx
  app/web/src/hooks/usePost.tsx
  app/web/src/pages/InterestAreaViewPage/index.tsx
  app/web/src/pages/ProfilePage/index.tsx
Labels: in: frontend

#734 Wa/mobile/fix/699 revise spot detail
  app/mobile/assets/icons/annotation.png
  app/mobile/assets/icons/geolocation.png
  app/mobile/assets/images/bunch.png
  app/mobile/lib/data/constants/assets.dart
  app/mobile/lib/data/widgets/post_widget.dart
  app/mobile/lib/modules/editPost/views/edit_post_view.dart
  app/mobile/lib/modules/interestArea/views/ia_view.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/lib/modules/post_details/views/post_detail_widget.dart
  app/mobile/lib/modules/post_details/views/post_details_view.dart
  app/mobile/lib/modules/settings/views/privacy_view.dart
Labels: in: mobile

#735 Wa/mobile/fix/698 revise visitor bottom nav
  app/mobile/assets/icons/explore.svg
  app/mobile/lib/data/widgets/custom_button.dart
  app/mobile/lib/modules/bottom_navigation/controllers/bottom_navigation_controller.dart
  app/mobile/lib/modules/bottom_navigation/views/bottom_navigation_view.dart
  app/mobile/lib/modules/newPost/views/new_post_view.dart
  app/mobile/lib/modules/settings/controllers/settings_controller.dart
  app/mobile/lib/modules/settings/views/privacy_view.dart
  app/mobile/lib/modules/settings/views/settings_view.dart
  app/mobile/lib/modules/visitor_explore/views/visitor_explore_view.dart
  app/mobile/lib/modules/visitor_explore/views/visitor_settings_view.dart
  app/mobile/lib/routes/app_pages.dart
Labels: in: mobile

#736 Final Profile Touches
  app/web/src/components/Follow/Follower/FollowerCard.tsx
  app/web/src/components/Follow/Follower/FollowerModal.tsx
  app/web/src/components/Follow/Following/FollowingCard.tsx
  app/web/src/components/Follow/Following/FollowingModal.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
  app/web/src/components/ProfileHeader/PictureUploadModal.tsx
  app/web/src/components/ProfileHeader/ProfileHeader.tsx
  app/web/src/hooks/useUser.tsx
  app/web/src/pages/ProfilePage/index.tsx
Labels: in: frontend

#739 Hot-fix because geolocation was huge
  app/mobile/lib/modules/editPost/views/edit_post_view.dart
Labels: priority: high, in: mobile

#740 Update DetailedPostCard.tsx
  app/web/src/components/Post/DetailedPostCard.tsx
Labels: in: frontend
